.tab_list td
{
	height:30px;
	line-height:30px;
}

#tab_top
{
	height:45px;
	line-height:45px;
}

.index1
{
	width:4%;
}

.index2
{
	width:5%;
}

.index3
{
	width:5%;
}

.index4
{
	width:20%;
}

.index5
{
	width:9%;
}

.index6
{
	width:9%;
}

.index7
{
	width:11%;
}

.index8
{
	width:6%;
}

.index9
{
	width:7%;
}

.index10
{
	width:4%;
}


.index11
{
	width:7%;
}

.index12
{
	width:7%;
}

