.tab_list td
{
	height:30px;
	line-height:30px;
}

.submitMode
{
	margin:5px;
}

#userName
{
	margin:6px;
	height:30px;
	float:left;
	width:200px;
}

.index1
{
	width:4%;
}

.index2
{
	width:4%;
}

.index3
{
	width:14%;
}

.index4
{
	width:12%;
}

.index5
{
	width:4%;
}

.index6
{
	width:4%;
}

.index7
{
	width:10%;
}

.index8
{
	width:10%;
}

.index9
{
	width:10%;
}

.index10
{
	width:6%;
}
.index11
{
	width:6%;
}
.index12
{
	width:4%;
}
.index13
{
	width:8%;
}

.index14
{
	width:4%;
}