.tab_edit
{
	margin-top:200px;
}
.tab_edit td
{
	margin:5px 0px;
	height:30px;
	padding:0px 5px;
	font-size:14px;
}

.tab_edit .inputBox
{
	width:200px;
	height:25px;
	margin:5px 0px;
}

