#main
{
	width:1200px;
	height:722px;
	background:url(../Images/regis.jpg) no-repeat center top;
	margin:0px auto;
	color:#e4007f;
	font-size:14px;
}

#main table
{
	padding:0px;
	margin:0px;
}

#main table td
{
	padding:3px;
	margin:0px;
}

#content
{
	width:715px;
	height:637px;
	padding-top:85px;
	max-height:722px;
	max-width:715px;
	padding-left:485px;
	overflow:auto;
}

#content input
{
	
	padding:0px 5px;
	margin:0px;
	color:#626262;
	font-size:14px;
	line-height:30px;
}

[type=radio],[type=checkbox]
{
	margin:0px;
	padding:0px;
}


[type=text],[type=file],[type=password]
{
	width:160px;
	border:solid 1px #fd028d;
	height:30px;
	background:#fff;
}

label
{	
	line-height:30px;
	cursor:pointer;
}

select
{
	height:24px;
	font-size:14px;
	margin:0px 5px;
	padding:0px;
}

option
{
	height:14px;
	font-size:14px;
	padding:5px 5px;
	margin:0px;
}

#content #IDCard_a
{
	margin-bottom:5px;
}

#content #sub
{
	width:100px;
	margin-right:20px;
	cursor:pointer;
	border:solid 1px #fd028d;
	height:30px;
	background:#fff;
}

#content #res
{
	width:100px;
	cursor:pointer;
	border:solid 1px #fd028d;
	height:30px;
	background:#fff;
}

.error
{
	color:#F00;
}